<div class="alert alert-success" role="alert">
    <h4 class="alert-heading"><%= err.message %></h4>
    <p>Aww Oh No, Something Went Wrong!!!.</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>